.marginlefting {
    margin-left: 60px !important;
}

.first_menu_button_margin {
    margin-left: 65px !important;
}

.last_menu_button_margin {
    margin-left: 10px !important;
}

.displaynone {
    display: none !important;
}

.displayblock {
    display: block !important;
}

.sidebar .item i {
    font-size: 24px;
    margin-top: -5px !important;
}

.title.item {
    padding: .92857143em 1.14285714em !important;
}

.spp_blue {
    background-color: #242424 !important;
}

.spp_blue_color {
    color: #2B2B2B !important;
}

.spp_red_color {
    color: #e1483b !important;
}

.active_tab {
    color: #e1483b !important;
    background-color: #2B2B2B !important;
}

.active_sub_tab {
    color: #e1483b !important;
}

.inactive_tab {
    color: grey !important;
}

.sidebar_sub_text_color {
    color: grey !important;
}

.background_color {
    background-color: #2B2B2B !important;
}

.secondary_background_color {
    background-color: #313335 !important;
    border-color: #242424 !important;
    color: grey !important;
}

.menu_tooltip_text {
    color: grey !important;
}

.menu_tooltip_active_text {
    color: #e1483b !important;
}

.ui.toggle.checkbox input:checked ~ label {
    color: #e1483b !important;
}

.stack_table_background {
    background-color: #313335 !important;
    color: grey !important;
}

.trace_stack_table {
    border: none !important;
}

.span_segment_background {
    background-color: #313335 !important;
    color: grey !important;
}

.overflow_y_hidden {
    overflow-y: hidden;
}

.webkit_transition {
    -webkit-transition-duration: 0.1s;
}

.overflow_visible {
    overflow: visible !important;
}

.openbtn_background_white {
    background-color: #3C3F41 !important;
    color: white !important;
    height: 45px !important;
}

.white_color {
    color: #ffffff;
}

.menu_style {
    border-radius: 0 !important;
    border: 0 !important;
    margin-left: 260px;
    -webkit-transition-duration: 0.1s;
    align-content: center;
}

.menu_style_2 {
    border-radius: 0 !important;
    border: 0 !important;
    -webkit-transition-duration: 0.1s;
    height: 45px;
    margin-bottom: 0 !important;
}

.menu_style_3 {
    border-radius: 0 !important;
    border: 0;
    align-content: center;
}

.align_content_center {
    height: 45px;
    line-height: 45px;
    align-content: center;
}

.spp_font_margin {
    font-size: 20px !important;
    margin-top: -2px !important;
}

.no_top_margin {
    margin-top: 0 !important;
}

.grid_height_margin {
    min-height: 100vh;
    margin-left: 60px !important;
}

.padding_top_bottom {
    padding-top: 7px !important;
    padding-bottom: 0 !important;
}

.padding_left_right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.full_height {
    height: 100%;
}

.min_height {
    min-height: 100%;
}

.items_font {
    font-size: 10px;
}

.align_left {
    text-align: left !important;
}

.input_width {
    width: 210px;
}

.align_center {
    text-align: center;
}

.visibility_hidden {
    visibility: hidden;
}

.hidden_full_height {
    visibility: hidden;
    margin-top: 0 !important;
}

.no_padding_top {
    padding-top: 0;
}

.trace_th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.trace_th_center {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center !important;
}

.no_padding {
    padding: 0;
}

.no_padding_auto {
    padding: 0;
    overflow-x: auto;
}

.margin_right_white {
    margin-right: 10px !important;
    /*background-color: #ffffff !important;*/
}

.margin_left_no_padding {
    padding: 0 !important;
    margin-left: 10px !important;
}

#latest_traces_header {
    color: grey;
}

#trace_stack_header {
    color: grey;
}

#span_tag_div {
    background: #2B2B2B;
}

#span_tag_table {
    background: #3C3F41;
    color: grey;
}

#span_log_div {
    background: #2B2B2B;
}

#log_tag_table {
    background: #3C3F41;
    color: grey;
}

#log_tag_table tr td {
    color: grey;
}

#top_trace_table {
    border: none !important;
}

.ui.table > thead > tr > th {
    color: grey !important;
    background: #242424;
}

.ui.attached.menu:not(.tabular) {
    border: 1px solid #242424
}

.ui.celled.table > tbody > tr > td, .ui.celled.table > tbody > tr > th, .ui.celled.table > tfoot > tr > td, .ui.celled.table > tfoot > tr > th, .ui.celled.table > thead > tr > th, .ui.celled.table > tr > td, .ui.celled.table > tr > th {
    border-left: 1px solid #2B2B2B;
}

.ui.mini.statistic > .value, .ui.mini.statistics .statistic > .value {
    color: grey;
}

.ui.statistic > .label, .ui.statistics .statistic > .label {
    color: grey;
}

.ui.basic.button:hover {
    background: #242424;
}

.ui.basic.button:active {
    background: #242424;
}

.ui.basic.button:focus {
    background: #242424;
}

.ui.pointing.dropdown > .menu:not(.hidden)::after {
    background: none;
}

.overview_row_padding {
    padding-top: 0.678em !important;
    padding-bottom: 0.678em !important;
}
