.marginlefting {
    margin-left: 60px !important;
}

.first_menu_button_margin {
    margin-left: 65px !important;
}

.displaynone {
    display: none !important;
}

.displayblock {
    display: block !important;
}

.sidebar .item i {
    font-size: 24px;
    margin-top: -5px !important;
}

.title.item {
    padding: .92857143em 1.14285714em !important;
}

.spp_blue {
    background-color: #313335 !important;
}

.spp_blue_color {
    color: #313335 !important;
}

.spp_red_color {
    color: #e1483b !important;
}

.active_tab {
    color: #e1483b !important;
    background-color: #2B2B2B !important;
}

.active_sub_tab {
    color: #e1483b !important;
}

.inactive_tab {
    color: grey !important;
}

.sidebar_sub_text_color {
    color: grey !important;
}

.background_color {
    background-color: #2B2B2B !important;
}

.secondary_background_color {
    background-color: #313335 !important;
    border-color: #313335 !important;
    color: grey !important;
}

.menu_tooltip_text {
    color: grey !important;
}

.menu_tooltip_active_text {
    color: #e1483b !important;
}

.ui.toggle.checkbox input:checked ~ label {
    color: #e1483b !important
}

.stack_table_background {
    background-color: grey;
}

.trace_stack_table {
    border: none !important;
}

.span_segment_background {
    background-color: grey !important;
}

.overflow_y_hidden {
    overflow-y: hidden;
}

.webkit_transition {
    -webkit-transition-duration: 0.1s;
}

.overflow_visible {
    overflow: visible !important;
}

.openbtn_background_white {
    background-color: #ffffff !important;
    height: 45px !important;
}

.white_color {
    color: #ffffff;
}

.menu_style {
    border-radius: 0 !important;
    border: 0 !important;
    margin-left: 260px;
    -webkit-transition-duration: 0.1s;
    align-content: center;
}

.menu_style_2 {
    border-radius: 0 !important;
    border: 0 !important;
    -webkit-transition-duration: 0.1s;
    height: 45px;
    margin-bottom: 0 !important;
}

.menu_style_3 {
    border-radius: 0 !important;
    border: 0;
    align-content: center;
}

.align_content_center {
    height: 45px;
    line-height: 45px;
    align-content: center;
}

.spp_font_margin {
    font-size: 20px !important;
    margin-top: -2px !important;
}

.no_top_margin {
    margin-top: 0 !important;
}

.grid_height_margin {
    min-height: 100vh;
    margin-left: 60px !important;
}

.padding_top_bottom {
    padding-top: 7px !important;
    padding-bottom: 0 !important;
}

.padding_left_right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.full_height {
    height: 100%;
}

.min_height {
    min-height: 100%;
}

.items_font {
    font-size: 10px;
}

.align_left {
    text-align: left !important;
}

.input_width {
    width: 210px;
}

.align_center {
    text-align: center;
}

.visibility_hidden {
    visibility: hidden;
}

.hidden_full_height {
    visibility: hidden;
    margin-top: 0 !important;
}

.no_padding_top {
    padding-top: 0;
}

.trace_th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.trace_th_center {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center !important;
}

.no_padding {
    padding: 0;
}

.no_padding_auto {
    padding: 0;
    overflow-x: auto;
}

.margin_right_white {
    margin-right: 10px !important;
    background-color: #ffffff !important;
}

.margin_left_no_padding {
    padding: 0 !important;
    margin-left: 10px !important;
}